
/* <!-- <پروفایل/////////////\\///////////// --> */

.top-heading-contaier {
    width: 76.5rem;
    margin: 2rem;
  }
  
  .top-heading {
    font-size: 2rem;
    line-height: 140%;
    font-weight: bold;
  }
  
