

/* <!-- <پروفایل/////////////\\///////////// --> */


.top-heading-contaier {
    width: 76.5rem;
    margin: 2rem;
}

.top-heading {
    font-size: 2rem;
    line-height: 140%;
    font-weight: bold;
}


/* ///////////// basmenu */


.base-container {
    display: flex;
    gap: 1.1875rem;
}



.profile-container {
    /* width:24.5rem ; */
    min-width: 25rem;
    max-width: fit-content;
    /* height: 50rem; */
    height: fit-content;
    padding-bottom: 5rem;
    /* background-color: azure; */
    border: 2px solid #EDEDED;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.profile-insider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 20.125rem;

}

.img-emil-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    border-bottom: 1px solid #EDEDED;
}


.image {
    width: 9rem;
    height: 9rem;
}

.camera {
    position: relative;
    top: -2.8rem;
    left: -6rem;
    width: 3rem;
    max-height: 7rem;
    border-radius: 8px;
    object-fit: contain;
    display: block;
}

.body-01 {
    color: #434343;
    font-size: 1.5rem;
    line-height: 180%;

}

.email {
    color: #656565;
}

/* /// prof info*/
.prof-info {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.credit-and-icon {
    display: inline-flex;
    gap: .5rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    align-self: center;
}

/* dashboard */
.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 1rem;

}

.dashboard-items {
    height: 3.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: 0.1px solid #EDEDED;
}

.red-dashboard-items {
    border-bottom: 1px solid #B95962;
}

.red-text {
    color: #B95962;
}

.dash-icon {
    width: 1.5rem;
    height: 1.5rem;
}

/* ///order-menu//////////////////////////////////*/


.my-things-container {
    width: 50.5rem;
    height: fit-content;
    /* background-color: rgba(119, 167, 202, 0.417); */
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border: 2px solid #EDEDED;

}

h4 {
    color: #242424;
    line-height: 140%;
    font-size: 1.5rem;
    align-self: flex-start;
    /* margin-bottom: 2rem; */

}

.text-infos>p {
    color: #434343;
    line-height: 180%;
}

.body-2 {
    font-size: 1.125rem;
}

.body-5 {
    font-size: 0.75rem;
}

.my-orders {
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* align-self: center; */
}

.my-orders-column {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.order-infos {
    display: flex;
    align-items: center;
}


.vertical-seperator {
    height: 6rem;
    width: 0.1rem;
    background-color: #EDEDED;
}

.orders-icons {
    align-self: start;
    margin-top: 0.4rem;
    margin-left: .3rem;
}

.horizontal-seperator {
    width: 90%;
    height: .1rem;
    background-color: #EDEDED;
}


.topings {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
    align-items: center;
}

.see-more-button {
    width: 8rem;
    height: 2.5rem;
    color: #A72F3B;
    border-radius: .5rem;
    border: 0px;
    background-color: inherit;

}



/* ////favorits sections مورد علاقه ها */
.favorites-item,
.designs-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: 1px solid #d6d6d6;
    padding: 1rem;
}

.item-name {
    display: inline;
    font-size: 1.2rem;

    font-weight: 700;

    line-height: 140%;
    letter-spacing: 0px;
}

.item-name-and-like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.like-icon {
    width: 1.5rem;
    height: 1.5rem;
    align-self: end;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.price {
    align-self: end;
    margin-top: 2rem;
    /* color: #A72F3B; */
}



.favorites {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    /* padding: 2rem 0rem; */
    width: 100%;
    max-width: 76.5rem;
    margin: 0 auto;
    position: relative;
}

.favorites-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
    flex: 1;
    overflow: hidden;

}

.carosel-flash {
    width: 48px;
    height: 47px;
    border-radius: 50%;
    background-color: inherit;

    transform: translateY(-50%);
    z-index: 1;
    margin-right: -2.5rem
}

#arrow-left {
    width: 2.5rem;
    height: 2.5rem;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.button {
    display: flex;
    align-items: center;
    gap:
        0.25rem;
    padding:
        0.5rem 1rem;
    border-radius:
        8px;
    background-color: inherit;
    color: #a72f3b;
    border:
        1px solid #a72f3b;
    width: 100%;
    text-align: center;
    justify-content: center;
}

/* footer ///////////////////////////////// */
.footer {
    width: 100%;
    /* max-width: 76.5rem; */
    display: flex;
    flex-direction: column;
}

.footer-upper {
    background-color: #641C23;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-texts {
    color: white;
}


.social-media-name-and-icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

.social-media {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.social-media img {
    /* width: 2rem; */
    width: 100%;
    ;
    height: 2rem;
    filter: brightness(0) invert(1);
    /* align-items: end; */

}

.social-media-names {
    color: white;
}

.submit-opinion {
    display: flex;
    align-items: center;
}


.email-form {
    display: flex;
    gap: 1rem;
}



.email-form input {
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    border: none;
    /* width: 20rem; */
    width: 100%;
    font-family: inherit;
    background-color: #641C23;
    border: 1px solid white;
    color: white;
    border-radius: 16px;
}

.email-form button {
    padding: 0.75rem 2rem;
    border-radius: 8px;
    border: 0px;
    background-color: #A72F3B;
    color: white;
    cursor: pointer;
    font-family: inherit;
    border-radius: 16px;
    height: fit-content;
    align-self: end;
}

.email-form button:hover {
    background-color: white;
    color: #A72F3B;
    transition: all 0.3s ease;
}


.footer-lower {
    background-color: #A72F3B;
    padding: 2rem 4rem;
    /* min-height: 200px; */
    color: white;

}


.caption-container {
    border-bottom: 1px solid white;
    width: fit-content;
    margin-bottom: 1rem;
}

.text-column-container {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 3rem;
}

.text-column {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.nemad-credit {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.call-info-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


.footer-lower-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 2rem;
}

.nemad-logos-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
}

.paragraph-5 {

    font-weight: 400;
    font-size: .75rem;
    line-height: 180%;
    letter-spacing: 0px;

}

h6 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 140%;
    letter-spacing: 0px;

}