<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>

    <link href="../src/style/cart.css" rel="stylesheet" />
    <link href="../src/style/base.css" rel="stylesheet" />
  </head>
  <body>
    <div class="search-bar">
      <div class="logo">
        <img class="logo-image" src="../src/images/landing/LogoFrame.svg" />
      </div>
      <div class="search-space">
        <input type="text" name="q" placeholder="جستجو...." />
        <button type="submit">
          <img src="../src/images/landing/search-normal.svg" />
        </button>
      </div>
      <div class="sabad-vorod">
        <a href="user-signup.html" class="login">
          <img src="../src/images/landing/Login.svg" />
          <p>ورود | ثبت نام</p>
        </a>
        <a href="../pages/Order-history.html" class="sabad">
          <img src="../src/images/landing/shopping-cart.svg" />
          <p>سبد خرید</p>
        </a>
      </div>
    </div>

    <hr />

    <!-- ///main menu///////////////////// -->
    <div class="main-menu">
      <button class="self-design">
        <img src="../src/images/landing/magicpen.svg" id="magic-pen" />
        <p>خودت طراحیش کن !</p>
      </button>
      <div class="items">
        <button class="item">پوشاک</button>
        <button class="item">لوازم خانه</button>
        <button class="item">قاب موبایل</button>
        <button class="item">اکسسوری</button>
        <button class="item">مدرسه و اداره</button>
        <button class="item">کارت و پوستر</button>
        <button class="item">جشن و مهمانی</button>
      </div>
    </div>

    <!-- //selections page from third options/////////// -->
    <div class="call-user-info-container">
      <div class="icon-and-name">
        <img
          class="call-user-icons"
          src="../src/images/cart/shopping-cart.svg"
          alt="call info icon"
        />
        <p class="text-wrapper-filled"> سبد خرید</p>
      </div>

      <div class="line-circle">
        <div class="circle-filled"></div>
        <div class="dotted-line"></div>
        <div class="circle"></div>
      </div>

      <div class="icon-and-name">
        <img
          class="call-user-icons"
          src="../src/images/cart/location.svg"
          alt="user info icon"
        />
        <p class="text-wrapper">اطلاعات آدرس</p>
      </div>
      
      <div class="line-circle">
          <div class="circle"></div>
          <div class="dotted-line"></div>
          <div class="circle"></div>
        </div>

        <div class="icon-and-name">
          <img
            class="call-user-icons"
            src="../src/images/cart/money-send.svg"
            alt="user info icon"
          />
          <p class="text-wrapper">پرداخت</p>
        </div>
    </div>

    <!-- // main of this page  -->
     <div class="base-container">
        <div class="buying-cart">
          <div>
            <p class="body-3">سبد خرید</p>
          </div>
          <div class="buying-item">
            <div class="item-in-cart">
              <div class="item-row">
                <div class="image-delete-button">
                  <img src="../src/images/cart/cansel.svg" alt="cansel-icon"/>
                  <img src="../src/images/cart/T-shirt.svg" alt="T-shirt"/>
                  <div class="name-price">
                    <p class="caption-1">تیشرت سفید طرح دار</p>
                    <p class="caption-1">تومان۲۴۰.۰۰۰</p>  
                  </div>
                </div>
                <div class="quantity-container">
                  <button class="quantity-button">+</button>
                  <div class="quantity-display">1</div>
                  <button class="quantity-button">−</button>
                </div>
              </div>

              <div class="icon-sending">
                <div class="sending-info">
                  <img src="../src/images/cart/truck-fast.svg" alt="post-machine"/>
                  <p class="body-4">ارسال از ۳ روز آینده</p>
                </div>
              </div>
            </div>

            <div class="item-in-cart">
              <div class="item-row">
                <div class="image-delete-button">
                  <img src="../src/images/cart/cansel.svg" alt="cansel-icon"/>
                  <img src="../src/images/cart/T-shirt.svg" alt="T-shirt"/>
                  <div class="name-price">
                    <p class="caption-1">تیشرت سفید طرح دار</p>
                    <p class="caption-1">تومان۲۴۰.۰۰۰</p>  
                  </div>
                </div>
                <div class="quantity-container">
                  <button class="quantity-button">+</button>
                  <div class="quantity-display">1</div>
                  <button class="quantity-button">−</button>
                </div>
              </div>

              <div class="icon-sending">
                <div class="sending-info">
                  <img src="../src/images/cart/truck-fast.svg" alt="post-machine"/>
                  <p class="body-4">ارسال از ۳ روز آینده</p>
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
        <div class="factor-and-alarm">
          <div class="sidebar">
            <div class="discount-section">
              <div class="section-title">کد تخفیف</div>
              <div class="discount-desc">
                کد تخفیف کارت هدیه خود را در زیر وارد کرده و دکمه ثبت رو بزنید تا در صورت داشتن اعتبار به سفارش شما اعمال بشه.
              </div>
              <form class="discount-form">
                <button type="submit">ثبت</button>
                <input type="text" placeholder="کد تخفیف را وارد کنید">
              </form>
            </div>
            <div class="cart-summary">
              <div class="summary-row">
                <span>قیمت کالا ها</span>
                <span>۲۴۰,۰۰۰ تومان</span>
              </div>
              <div class="summary-row" style="font-size:12px; color:#888;">
                <span>تعداد کالا:</span>
                <span>۲</span>
              </div>
              <div class="summary-row discount">
                <span class="discount-sum">
                  <img src="../src/images/cart/receipt-disscount.svg" alt="discount-icon"/>
                  مجموع تخفیف روی کالا ها
                </span>
                <span class="value">۲۰,۰۰۰-</span>
              </div>
              <div class="summary-row">
                <span>سود شما از خرید</span>
                <span>۳۰,۰۰۰ تومان</span>
              </div>
              <div class="summary-row">
                <span>هزینه ارسال</span>
                <span>۵۰,۰۰۰ تومان</span>
              </div>
              <div class="divider"></div>
              <div class="summary-row total">
                <span>جمع مبلغ قابل پرداخت</span>
                <span>۲۹۰,۰۰۰ تومان</span>
              </div>
              <button class="checkout-btn">
                <!-- <span style="font-size:21px;">&#8592;</span> -->
                ثبت سفارش
                <img src="../src/images/cart/arrow-left.svg" alt="left arrow"/>
              </button>
            </div>
          </div>

            <ul class="alarm">
                <img src="../src/images/cart/info-circle.svg" alt="info icon"/>
                <li class="info-lines">
                    <p class="body-4">ارسال رایگان برای سفارش های بالای ۷۰۰.۰۰۰ تومن</p>
                </li>
                <li class="info-lines">
                    <p class="body-4">در صورت اتمام موجودی‌، کالاها از سبد خرید حذف میشوند.</p>
                </li>
                <li class="info-lines">
                    <p class="body-4">لطفا در طول مراحل خرید فیلتر شکن خود را خاموش کنید.</p>
                </li>
                
            </div>

        </div>
     </div>

    <!-- foooter /////////////////////////////// -->
    <div class="footer">
      <div class="footer-upper">
        <div class="submit-opinion">
          <form class="email-form">
            <div class="email-abovetext">
              <p class="footer-texts">
                برای دریافت آخرین اخبار و تخفیف های جدید،ایمیل خود را وارد
                نمایید
              </p>
              <input type="email" placeholder="ایمیل خود را وارد کنید" />
            </div>
            <button type="submit">ثبت</button>
          </form>
        </div>

        <div class="social-media-name-and-icons">
          <p class="body-4">ما را در شبکه های اجتماعی دنبال کنید</p>

          <div class="social-media">
            <a href="#"
              ><img
                src="../src/images/landing/YouTube_light_icon_(2017).svg"
                alt="Youtube"
            /></a>

            <a href="#"
              ><img src="../src/images/landing/Pinterest.svg" alt="Pinterest"
            /></a>

            <a href="#"
              ><img src="../src/images/landing/facebook.svg" alt="facebook"
            /></a>

            <div>
              <a href="#"
                ><img src="../src/images/landing/Instagram.svg" alt="Instagram"
              /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-lower">
        <div class="footer-lower-container">
          <div class="text-column-container">
            <div class="text-column">
              <div class="caption-container">
                <p class="Caption/01">همراه با کاستومی</p>
              </div>
              <a href="$" class="paragraph-texts">نقشه سایت</a>
              <a href="$" class="paragraph-texts">فرصت همکاری</a>
              <a href="$" class="paragraph-texts">تماس با ما</a>
              <a href="$" class="paragraph-texts">نقشه سایت</a>
            </div>

            <div class="text-column">
              <div class="caption-container">
                <p class="Caption/01">خدمات مشتریان</p>
              </div>
              <a href="$" class="paragraph-texts">سوالات متداول</a>
              <a href="$" class="paragraph-texts">حریم خصوصی</a>
              <a href="$" class="paragraph-texts">ثبت شکایت</a>
              <a href="$" class="paragraph-texts">ضمانت نامه  محصولات</a>
            </div>

            <div class="text-column">
              <div class="caption-container">
                <p class="Caption/01">راهنمای خرید</p>
              </div>
              <a href="$" class="paragraph-texts">راهنمای ثبت سفارش</a>
              <a href="$" class="paragraph-texts">شیوه های پرداخت</a>
              <a href="$" class="paragraph-texts">نحوه ارسال سفارش ها</a>
              <a href="$" class="paragraph-texts">شرایط بازگرداندن محصول</a>
            </div>
          </div>

          <div class="nemad-credit">
            <h6>فروشگاه اینترنتی کاستومی</h6>
            <div class="call-info-container">
              <p class="paragraph-5">تماس با پشتیبانی :۰۲۱-۳۴۵۶۰۰۰</p>
              <p class="paragraph-5">پاسخگویی ۲۴ ساعته ، ۷ روز هفته</p>
            </div>
            <div class="nemad-logos-container">
              <a href="%"
                ><img
                  src="../src/images/landing/nemad-image.svg"
                  alt="nemad-image"
              /></a>
              <a href="%"
                ><img
                  src="../src/images/landing/nemad-image.svg"
                  alt="nemad-image"
              /></a>
              <a href="%"
                ><img
                  src="../src/images/landing/nemad-image.svg"
                  alt="nemad-image"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
